.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the layout takes at least the full viewport height */
}

.main {
    flex: 1; /* Allow the main content to grow and take up remaining space */
    padding: 0rem; /* Add padding for spacing */
    overflow-y: auto; /* Add scrollbar only to the main content area */
    margin-top: 80px; /* Adjust this value to match the height of your header */
    padding-bottom: 60px; /* Add padding-bottom to match the height of your footer */
}
