* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    overflow-y: hidden; /* Prevent horizontal scroll */
    font-family: "Poppins", sans-serif; /* Apply the font globally */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600; /* Bold weight for headings */
}

p {
    font-weight: 400; /* Regular weight for paragraphs */
}
